# Ignore everything by default
*

# Allow these files and folders explicitly
!.gitignore
!.gitattributes
!wp-config.php
!docker-compose.yaml
!Dockerfile
!Dockerfile.db
!README.md

# Allow SQL init folder and zip
!sql/
!sql/init.zip
!sql/init.sql

# Allow WordPress content directories
!wp-content-en/
!wp-content-en/**
!wp-content-dz/
!wp-content-dz/**

# Exclude common WordPress temporary or sensitive files
wp-content*/cache/
wp-content*/upgrade/
wp-content*/uploads/cache/
wp-content*/backup*/
wp-content*/debug.log